/* Footer Section --------------------- */
footer {
  @include flex-center(column);
  background: $background;
  color: $secondary-font-color;
  padding: 40px 0;
  font-size: 1.2rem;
  position: relative;
  z-index: 9;

  .footer-logo {
    margin-bottom: 15px;
  }

  p {
    margin-bottom: 10px;
  }

  .social-icons {
    margin-top: 20px;

    a {
      margin: 0 15px;
      color: $secondary-font-color;
      font-size: 1.8rem;

      &:hover {
        color: lighten($secondary-font-color, 20%);
      }
    }
  }
}
